/* Buttons */

.button-generic {

    padding: 5px;
    text-decoration: none;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    text-align: center;
    background-color: hwb(0 0% 100%/0.205);
    font-weight: 400;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 50px;
    width: 160px;
    opacity: 0.9;
    margin: 30px;
    backdrop-filter: blur(2px);
    z-index: 99;

    &:hover {
        cursor: pointer;
        background-color: $color-dark-gray ;
        color: white;
        text-decoration: none;
        opacity: 1;
    }
}

.back-home {
    position: absolute;
    bottom: 100px;
    font-family: monospace;
    color: #9b9d9e;
}

.education {
    background: rgba(255, 255, 255, 0.103);
}