/** Contact **/


.mail_box {
    width: 100px;
    filter: drop-shadow(5px 5px 10px black);
    animation: fadeInUp 1s;
    z-index: 9;
}

.mailbox_a{
    @include flexbox;
    flex-direction: column;
}

.mail_box:hover{
    transform: scale(1.05);
    transition: .7s;
    filter: drop-shadow(0px 0px 20px rgb(0,255,255));
}

@media (min-width:900px){
    .mail_box{
    width: 175px; 
    }
}



@media (max-width:800px) and (orientation:landscape){
    .mail_box{
        width: 100px;  
    }
}
.rainbow_bg{
    background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent
}


@keyframes bounceIn{
    0%{
      opacity: 0;
      transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
      opacity: 0.9;
      transform: scale(1.1);
    }
    80%{
      opacity: 1;
      transform: scale(0.89);
    }
    100%{
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }
  }

.contactCard {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffb949;
    color: rgb(255, 255, 255);
    width: 190px;
    padding: 16px;
    border-radius: 15px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
    filter: drop-shadow(5px 5px 10px black);
    // animation: fadeInUp 1s .5s;
    z-index: 9;
}

@media (max-width:900px) and (orientation:landscape) {
    .contactCard {
        display: flex;
        height: 15px;
        width: 140px;
        font-size: 10px;
    }
}

@media (min-width: 1000px) {
    .contactCard {
        display: flex;
    }
}