/** Body **/



/* :root {
    overflow-y: initial;
} */

body {

    /* background: #000046; */
    /* background: -webkit-linear-gradient(to bottom, #1CB5E0, #000046);
    background: linear-gradient(to bottom, #1CB5E0, #000046);
    background-attachment: fixed; */
    font-family: 'Poppins', monospace, sans-serif;
    font-size: 20px;
    color: white;
}

.div-animation {
    animation: fadeInUp .5s;
}